@import "./reset.css";
@font-face {
  font-family: "Raleway-extra";
  font-style: normal;
  src: local("Raleway-extra"), url("../fonts/raleway/Raleway-ExtraLight.ttf"), format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  src: local("Raleway"), url("../fonts/raleway/Raleway-Light.ttf") format("ttf"), url("../fonts/raleway/Raleway-Light.woff2") format("woff2"), url("../fonts/raleway/Raleway-Light.woff") format("woff");
  font-display: swap;
}
* {
  box-sizing: border-box;
}

.container-custom {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}

body {
  background-color: #fff;
  color: #555;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
body button {
  cursor: pointer;
}
body a {
  text-decoration: none;
}

h4 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}

h4::after {
  content: "";
  width: 171px;
  color: #00e1ff;
  display: block;
  border: 1px solid #67e5fa;
  position: relative;
  top: 26px;
  margin: 0 auto;
}

header .container-custom {
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #fff;
  width: 100%;
}
header img {
  width: 175px;
}

.header__nav {
  width: 50%;
  margin: auto 0;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header__nav a {
  text-transform: uppercase;
  color: black;
  font-size: 15px;
}

.header__nav a:hover {
  color: #67e5fa;
}

.header_links {
  width: 48%;
  padding-top: 16px;
}

.header__log {
  position: relative;
  z-index: 3;
}

.header__li a:hover {
  border-bottom: 2px solid #67e5fa;
  padding-bottom: 42px;
}

.wr-home {
  background-image: url("../img/wr-home.jpg");
  background-size: cover;
  background-position: center;
  padding: 272px 0 282px;
}
.wr-home .container-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 200;
  text-align: center;
}

.wr-home button {
  font-family: "Raleway";
  color: #fff;
  background-color: transparent;
  font-size: 15px;
  height: 51px;
  width: 172px;
  border: 2px solid #fff;
  margin-top: 30px;
}

.wr-service {
  background-color: #fff;
  padding-top: 134px;
  padding-bottom: 138px;
}
.wr-service .container-custom {
  display: flex;
  justify-content: space-around;
}
.wr-service h1::after {
  content: "";
  width: 70px;
  color: #67e5fa;
  display: block;
  border: 1px solid #67e5fa;
  position: relative;
  top: 22px;
  margin: 0 auto;
}
.wr-service p {
  font-size: 13px;
  text-align: center;
}
.wr-service h1 {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 45px;
}

.wr-service__img {
  width: 55px;
}
.wr-service__img img {
  width: 100%;
}

.wr-service__web:nth-child(2) h1,
.wr-service__web:nth-child(3) h1 {
  padding-top: 47px;
}

.wr-service__web,
.wr-service__design {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
}

.wr-service__web:nth-child(1) h1,
.wr-service__web:nth-child(4) h1 {
  padding-top: 54px;
}

.responsive {
  background-color: #f7f7f7;
  padding-top: 52px;
}
.responsive img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.responsive .hidden button {
  box-shadow: 1px 5px 15px #36c5fa;
}
.responsive .hidden h1 {
  color: #00e1ff;
}

.responsive__main {
  padding-left: 110px;
  align-self: flex-start;
  width: 60%;
}
.responsive__main button {
  font-family: "Raleway";
  color: #00e1ff;
  background-color: transparent;
  font-size: 15px;
  height: 51px;
  width: 172px;
  border: 2px solid #00e1ff;
  margin-top: 39px;
}
.responsive__main h1 {
  font-size: 40px;
  padding-top: 29px;
  font-weight: 400;
}
.responsive__main p:first-of-type {
  padding-top: 39px;
}
.responsive__main p:last-of-type {
  padding-top: 13px;
}

.responsive__img {
  width: 40%;
  flex-shrink: 0;
}

.responsive__content {
  padding-top: 85px;
  padding-left: 146px;
}

.responsive__tabs {
  list-style: none;
  display: flex;
  padding-left: 103px;
}

.responsive__tabs > button {
  font-size: 15px;
  display: block;
  width: 45%;
  text-align: center;
  border: 1px solid #c8cdce;
  color: #3f4244;
  height: 51px;
  background-color: transparent;
}

.responsive__tabs > button:hover {
  background: #f7f7f7;
  cursor: pointer;
  color: #333;
  border: 1px solid #00e1ff;
}

.responsive__tabs > button.tabActiveHeader {
  background: #f7f7f7;
  cursor: pointer;
  color: #333;
  border: 1px solid #00e1ff;
}

.tabpage.hidden {
  background-color: #f7f7f7;
  display: none;
}

.tabpage {
  background-color: #f7f7f7;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.wr-design {
  background-image: url(../img/background-design.jpg);
  background-size: cover;
  background-position: center;
  padding: 98px 0 0;
}
.wr-design h4,
.wr-design p {
  color: #fff;
}
.wr-design p {
  text-align: center;
  font-size: 13px;
  padding-top: 50px;
  padding-bottom: 123px;
}

.wr-design__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 0 auto;
}

.wr-design__img {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.wr-design__img img {
  width: 100%;
}

.read-more {
  background-color: #fff;
  padding-bottom: 95px;
}

.read-more__article {
  width: 75%;
}
.read-more__article h3 {
  text-align: right;
  font-weight: 500;
  color: #22e5ff;
  font-size: 17px;
}
.read-more__article p {
  text-align: right;
  color: #dbdedf;
  font-size: 14px;
  padding-top: 13px;
}

.read-more__border {
  text-align: center;
  position: relative;
  margin: 0 55px;
}

.read-more__line {
  display: flex;
  width: 100%;
}
.read-more__line span:nth-child(1) {
  border-radius: 50%;
  border: 2px solid #00e1ff;
  width: 12px;
  height: 12px;
  display: block;
  z-index: 10;
  position: relative;
  background-color: #fff;
}

.read-more__line:nth-child(1) .read-more__border::before,
.read-more__line:nth-child(2) .read-more__border::before,
.read-more__line:nth-child(3) .read-more__border::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  background-color: #c3d0d8;
  height: 100%;
}

.read-more__text {
  padding-bottom: 50px;
  width: 100%;
}
.read-more__text h2 {
  text-align: left;
  font-size: 17px;
  color: #8c8e8f;
  font-weight: 400;
}
.read-more__text p:nth-child(2) {
  padding-top: 24px;
  font-size: 13px;
  color: #c9cdd0;
}
.read-more__text p:last-child {
  color: #22e5ff;
  padding-top: 24px;
}
.read-more__text p:last-child:hover {
  cursor: pointer;
}

.read-more__main {
  padding-top: 120px;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.read-more__main .read-more__line {
  display: flex;
}

.close-icon svg {
  width: 50px;
  height: 50px;
}

.close-icon svg:hover {
  cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 100px;
  right: 100px;
}

.read-more__modal {
  text-align: center;
  padding: 50vh 0 0 0;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9999;
  height: 110vh;
  width: 100%;
  background-color: #ffffffc9;
}

.read-more__modal-content {
  text-align: center;
  font-size: 32px;
}

.portfolio {
  background-color: #f7f7f7;
  padding-bottom: 60px;
  padding-top: 88px;
}
.portfolio h4 {
  color: #3f4244;
  text-align: center;
}
.portfolio p {
  font-size: 13px;
  color: #666666;
  text-align: center;
  padding-top: 54px;
}
.portfolio .portfolio_main {
  width: 65%;
  margin: 0 auto;
}

.portfolio__slider-menu div {
  border: 1px solid #30dffa;
  padding: 10px 15px;
  cursor: pointer;
}

.slider-photo-div {
  background-color: #fff;
  margin-left: 10px;
}

.slider-photo img,
.slider-photo-div img {
  width: 470px;
  height: 300px;
}

.portfolio__slider {
  padding-top: 102px;
}

.portfolio__slider-photo {
  position: relative;
  height: 400px;
  overflow-x: hidden;
  max-width: 100%;
  display: inline-flex;
  margin-top: 30px;
}

.portfolio__slider-menu {
  display: flex;
  width: 65%;
  margin: 0 auto;
  justify-content: space-between;
}

.slider-text {
  padding-top: 25px;
  text-align: center;
}

.slider-text::after {
  content: "";
  width: 50px;
  color: #00e1ff;
  display: block;
  border: 1px solid #67e5fa;
  position: relative;
  top: 26px;
  margin: 0 auto;
}

.slider-text::before {
  content: "Eum cu tantas legere complectitur, hinc utamu";
  position: absolute;
  width: 17%;
  bottom: 0;
}

.video {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 28%;
}
.video .container-custom {
  width: 770px;
  margin: 0 auto;
  padding-bottom: 95px;
}
.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video h4 {
  color: #fff;
  margin: 0 auto;
}
.video p {
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding-top: 54px;
  width: 50%;
  margin: 0 auto;
}

.video__main {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  padding-top: 10%;
}

.wr-services {
  background-color: #131316;
  padding-bottom: 82px;
  padding-top: 90px;
}
.wr-services p {
  padding-top: 41px;
  font-family: "Raleway", serif;
  font-size: 40px;
  text-align: center;
  color: #f4f4f4;
}
.wr-services h1 {
  font-family: "Raleway", serif;
  font-size: 13px;
  font-weight: 500;
  color: #f4f4f4;
}

.wr-services__main {
  display: flex;
  justify-content: space-around;
}

.wr-services__web {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
}

.wr-services__web:nth-child(1) h1 {
  padding-top: 25px;
}
.wr-services__web:nth-child(1) img {
  width: 23%;
}

.wr-services__web:nth-child(2) p {
  padding-top: 44px;
}
.wr-services__web:nth-child(2) img {
  margin-top: -13px;
  width: 13%;
}
.wr-services__web:nth-child(2) h1 {
  padding-top: 22px;
}

.wr-services__web:nth-child(3) p {
  padding-top: 39px;
}
.wr-services__web:nth-child(3) h1 {
  padding-top: 21px;
}
.wr-services__web:nth-child(3) img {
  width: 22%;
}

.wr-services__web:nth-child(4) p {
  padding-top: 42px;
}
.wr-services__web:nth-child(4) h1 {
  padding-top: 23px;
}
.wr-services__web:nth-child(4) img {
  width: 23%;
}

.we-are-the-one {
  padding-top: 88px;
  padding-bottom: 56px;
}
.we-are-the-one h4 {
  text-align: center;
}
.we-are-the-one p {
  font-size: 13px;
  text-align: center;
  padding-top: 54px;
  width: 65%;
  margin: 0 auto;
}
.we-are-the-one h4,
.we-are-the-one p {
  color: #3f4244;
}

.we-are-the-one__main {
  width: 23%;
}
.we-are-the-one__main img {
  width: 100%;
  height: 35%;
}
.we-are-the-one__main .we-are-the-one__header-block {
  background-color: #1c1d1e;
  width: 100%;
  height: 13%;
}
.we-are-the-one__main .we-are-the-one__header-block h5 {
  text-align: center;
  padding-top: 10px;
  color: #06bad2;
  font-size: 20px;
  font-weight: 500;
}
.we-are-the-one__main .we-are-the-one__header-block p {
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 18px;
  color: #c2c3c3;
}
.we-are-the-one__main .we-are-the-one__main-text {
  width: 100%;
  background-color: #f7f7f7;
}
.we-are-the-one__main .we-are-the-one__main-text p {
  padding-top: 33px;
  padding-bottom: 32px;
  text-align: center;
  width: 80%;
}

.we-are-the-one__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 93px;
}

.we-are-the-one__icons {
  width: 100%;
  display: flex;
  padding-top: 2px;
}
.we-are-the-one__icons li {
  height: 57px;
  background-color: #f7f7f7;
  width: 24%;
}
.we-are-the-one__icons li:hover:nth-child(1) {
  cursor: pointer;
  background-color: #36609e;
}
.we-are-the-one__icons li:hover:nth-child(1) svg {
  cursor: pointer;
  fill: #fff;
}
.we-are-the-one__icons li:hover:nth-child(3) {
  cursor: pointer;
  background-color: #db5442;
}
.we-are-the-one__icons li:hover:nth-child(3) svg {
  cursor: pointer;
  fill: #fff;
}
.we-are-the-one__icons li:hover:nth-child(2) {
  cursor: pointer;
  background-color: #2ca9e1;
}
.we-are-the-one__icons li:hover:nth-child(2) svg {
  cursor: pointer;
  fill: #fff;
}
.we-are-the-one__icons li:hover:nth-child(4) {
  cursor: pointer;
  background-color: #ee558e;
}
.we-are-the-one__icons li:hover:nth-child(4) svg {
  cursor: pointer;
  fill: #fff;
}
.we-are-the-one__icons svg {
  width: 100%;
  height: 65%;
  padding-top: 16px;
  fill: #444;
}
.we-are-the-one__icons ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-ket {
  padding-top: 93px;
  padding-bottom: 94px;
  background-color: #f7f7f7;
}
.about-ket .container-custom {
  display: grid;
  grid-template-columns: 49% 47%;
  grid-template-rows: min-content;
}
.about-ket img {
  width: 100%;
  height: auto;
}

.about-ket__main {
  margin-left: 29px;
  margin-right: -44px;
  border: 1px solid #c8cdce;
  width: 100%;
}
.about-ket__main h6,
.about-ket__main p {
  font-family: "Raleway", serif;
}
.about-ket__main h6 {
  padding-top: 35px;
  padding-left: 35px;
  font-size: 20px;
  font-weight: 500;
}
.about-ket__main p:nth-child(2) {
  padding-left: 27px;
  padding-top: 42px;
  font-size: 13px;
  padding-right: 32px;
  line-height: 16px;
}
.about-ket__main p:nth-child(3) {
  padding-left: 27px;
  padding-top: 15px;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 42px;
}

.little-slider {
  background-color: #252726;
}
.little-slider .container-custom {
  padding-top: 98px;
  padding-bottom: 177px;
}
.little-slider .container-custom svg {
  width: 3%;
  padding-left: 49%;
}
.little-slider h1 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.little-slider p {
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding-top: 17px;
}

.our-news {
  background-color: #fff;
}
.our-news .container-custom {
  width: 49%;
}
.our-news h4 {
  color: #3f4244;
}
.our-news .read-mor-url::after {
  content: "";
  width: 98%;
  color: #edf2f6;
  display: block;
  border: 1px solid #edf2f6;
  position: relative;
  top: 16px;
  left: 14px;
}

.our-news__main:nth-child(2) {
  padding-top: 85px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
}
.our-news__main:nth-child(2) .our-news__date p:last-child {
  color: #b3b9bc;
  text-align: center;
  padding-top: 15px;
}
.our-news__main:nth-child(2) h2 {
  color: #55ebff;
  font-weight: 400;
}
.our-news__main:nth-child(2) .our-news__text {
  padding-left: 25px;
  padding-top: 23px;
}
.our-news__main:nth-child(2) .our-news__text p:first-child {
  color: #b3b9bc;
  font-size: 13px;
  padding-left: 4px;
}
.our-news__main:nth-child(2) .read-mor-url {
  text-align: right;
  color: #55ebff;
  padding-top: 47px;
  padding-right: 30px;
  font-size: 13px;
}
.our-news__main:nth-child(2) .read-mor-url:hover {
  cursor: pointer;
}

.our-news__main:nth-child(3),
.our-news__main:nth-child(4) {
  padding-top: 38px;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
  width: 90%;
  margin: 0 auto;
}
.our-news__main:nth-child(3) .our-news__date p:last-child,
.our-news__main:nth-child(4) .our-news__date p:last-child {
  color: #b3b9bc;
  text-align: center;
  padding-top: 15px;
}
.our-news__main:nth-child(3) h2,
.our-news__main:nth-child(4) h2 {
  color: #55ebff;
  font-weight: 400;
}
.our-news__main:nth-child(3) .our-news__text,
.our-news__main:nth-child(4) .our-news__text {
  padding-left: 25px;
  padding-top: 23px;
}
.our-news__main:nth-child(3) .our-news__text p:first-child,
.our-news__main:nth-child(4) .our-news__text p:first-child {
  color: #b3b9bc;
  font-size: 13px;
  padding-left: 4px;
}
.our-news__main:nth-child(3) .read-mor-url,
.our-news__main:nth-child(4) .read-mor-url {
  text-align: right;
  color: #55ebff;
  padding-top: 47px;
  padding-right: 30px;
  font-size: 13px;
}
.our-news__main:nth-child(3) .read-mor-url:hover,
.our-news__main:nth-child(4) .read-mor-url:hover {
  cursor: pointer;
}

.our-news__main:nth-child(5) {
  padding-top: 38px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 102px;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
}
.our-news__main:nth-child(5) .our-news__date p:last-child {
  color: #b3b9bc;
  text-align: center;
  padding-top: 15px;
}
.our-news__main:nth-child(5) h2 {
  color: #55ebff;
  font-weight: 400;
}
.our-news__main:nth-child(5) .our-news__text {
  padding-left: 25px;
  padding-top: 23px;
}
.our-news__main:nth-child(5) .our-news__text p:first-child {
  color: #b3b9bc;
  font-size: 13px;
  padding-left: 4px;
}
.our-news__main:nth-child(5) .read-mor-url {
  text-align: right;
  color: #55ebff;
  padding-top: 47px;
  padding-right: 30px;
  font-size: 13px;
}
.our-news__main:nth-child(5) .read-mor-url:hover {
  cursor: pointer;
}

.our-news__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -81px;
  margin-left: 5px;
  padding-top: 85px;
  width: 85%;
  margin: 0 auto;
}

.our-news__header-text {
  text-align: center;
  width: 100%;
  padding-left: 3px;
  padding-top: 54px;
  font-size: 13px;
  line-height: 16px;
  color: #b3b9bc;
}

.modern-design {
  background-image: url(../img/background-design.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 139px 0 0px;
}

.modern-design__block {
  display: flex;
  width: 100%;
}

.modern-design__img {
  width: 50%;
}
.modern-design__img img {
  width: 100%;
}

.modern-design__main {
  width: 50%;
}
.modern-design__main h6,
.modern-design__main p {
  color: #fff;
}
.modern-design__main h6 {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.modern-design__main h6:after {
  content: "";
  width: 55px;
  color: #67e5fa;
  display: inline-block;
  border: 1px solid #00e1ff;
  position: absolute;
  top: 50px;
  margin-left: -207px;
}
.modern-design__main p {
  font-size: 13px;
  padding-top: 50px;
}

.what-clients-say {
  padding-top: 85px;
  padding-bottom: 94px;
}

.what-clients-say__header {
  width: 65%;
  margin: 0 auto;
}
.what-clients-say__header h4 {
  color: #727476;
  text-align: center;
  position: relative;
}
.what-clients-say__header p {
  font-size: 13px;
  color: #929ba0;
  text-align: center;
  padding-top: 54px;
}

.what-clients-say__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.what-clients-say__block {
  border: 1px solid gray;
  width: 31%;
  margin-top: 97px;
}
.what-clients-say__block h5 {
  text-align: center;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #3f4244;
}
.what-clients-say__block p:nth-child(2) {
  text-align: center;
  padding-top: 13px;
  font-size: 13px;
  color: #00e1ff;
}
.what-clients-say__block p:last-child {
  text-align: center;
  font-size: 13px;
  padding-top: 30px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
  color: #c2c7c9;
}

.subscribe {
  background-image: url("../img/background-design.jpg");
  padding: 90px 0 95px;
  background-position: center;
  background-size: cover;
}
.subscribe .container-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe p {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.subscribe button {
  font-family: "Raleway";
  color: #fff;
  background-color: transparent;
  font-size: 15px;
  height: 51px;
  width: 172px;
  border: 2px solid #00e1ff;
  margin-top: 45px;
}

.form {
  background-color: #131316;
  padding: 80px 0 50px;
}
.form .container-custom {
  width: 47%;
  margin: 0 auto;
}
.form button {
  font-family: "Raleway";
  color: #fff;
  background-color: transparent;
  font-size: 15px;
  height: 51px;
  width: 172px;
  border: 2px solid #00e1ff;
  margin-top: 35px;
}
.form h4,
.form p {
  color: #fff;
}
.form p {
  text-align: center;
  font-size: 13px;
  padding-top: 50px;
  padding-bottom: 123px;
}
.form input {
  background-color: #131316;
  border: none;
  border-bottom: 2px solid #fff;
  padding-bottom: 20px;
  font-family: "Raleway", serif;
  color: #fff;
}

.form__input-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__input {
  width: 47%;
}
.form__input input {
  width: 100%;
}

.form__input::after {
  content: "";
  height: 10px;
  width: 0;
  display: block;
  border: 1px solid #fff;
  position: relative;
  bottom: 12px;
  left: 100%;
}

.form__input::before {
  content: "";
  height: 10px;
  width: 0;
  display: block;
  border: 1px solid #fff;
  position: relative;
  top: 39px;
}

.form__input-3 {
  width: 100%;
  padding-top: 65px;
}
.form__input-3 input {
  width: 100%;
}

.form__input-3::after {
  content: "";
  height: 10px;
  width: 0;
  display: block;
  border: 1px solid #fff;
  position: relative;
  bottom: 12px;
  left: 100%;
}

.form__input-3::before {
  content: "";
  height: 10px;
  width: 0;
  display: block;
  border: 1px solid #fff;
  position: relative;
  top: 39px;
}

iframe {
  width: 100%;
}

footer {
  background-color: #131316;
  padding: 45px 0 50px;
}
footer p {
  text-align: center;
  color: #fff;
}
footer p span {
  color: #03c4de;
}

@media all and (max-width: 985px) {
  .wr-service .container-custom {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wr-service__web {
    width: 45%;
    padding-bottom: 35px;
  }

  .wr-services__main {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wr-services__web {
    width: 45%;
    padding-bottom: 35px;
  }

  .we-are-the-one__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .we-are-the-one__main {
    width: 40%;
  }

  .about-ket .container-custom {
    display: grid;
    grid-template-columns: 100%;
  }

  .about-ket__main {
    margin-left: 0;
  }

  .our-news .container-custom {
    width: 85%;
  }

  .our-news__main:nth-child(2),
.our-news__main:nth-child(3),
.our-news__main:nth-child(4),
.our-news__main:nth-child(5) {
    display: grid;
    grid-template-columns: 100%;
  }

  .modern-design {
    padding: 80px 0 80px;
  }

  .modern-design__img {
    display: none;
  }

  .modern-design__main {
    width: 95%;
    margin: 0 auto;
  }

  .what-clients-say__main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .what-clients-say__block {
    width: 40%;
  }

  .portfolio__slider-menu {
    width: 100%;
  }

  .responsive__content {
    padding-left: 0;
  }

  .form .container-custom {
    width: 70%;
    margin: 0 auto;
  }
}
@media all and (max-width: 750px) {
  .responsive__img {
    display: none;
  }

  .responsive__tabs {
    padding-left: 50px;
  }

  .responsive__main {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 0;
  }

  .portfolio__slider-menu div {
    padding: 5px 10px;
  }
}
@media all and (max-width: 415px) {
  h4 {
    font-size: 25px;
  }

  .wr-home h2 {
    font-size: 35px;
  }

  .read-more__main {
    width: 90%;
  }

  .portfolio .portfolio_main {
    width: 90%;
    margin: 0 auto;
    font-size: 10px;
  }

  .portfolio__slider-menu div {
    padding: 2px 5px;
  }

  .wr-service .container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wr-services__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wr-services__web {
    width: 75%;
    padding-bottom: 35px;
  }

  .wr-service__web {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding-bottom: 30px;
  }

  .we-are-the-one__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .we-are-the-one__main {
    width: 60%;
  }

  .we-are-the-one p {
    width: 90%;
  }

  .wr-design__main {
    width: 90%;
  }

  .our-news .container-custom {
    width: 100%;
  }

  .our-news__main:nth-child(5) {
    padding-bottom: 80px;
  }

  .what-clients-say__header {
    width: 100%;
    margin: 0 auto;
  }

  .what-clients-say__main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .what-clients-say__block {
    width: 60%;
  }

  .portfolio .portfolio_main {
    width: 90%;
  }

  .video p {
    width: 90%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form .container-custom {
    width: 100%;
    margin: 0 auto;
  }

  .form__input-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__input {
    width: 85%;
  }

  .form__input-3 {
    width: 85%;
    padding-top: 0;
  }

  .form button {
    margin-left: 30px;
  }
}
@media all and (max-width: 768px) {
  .portfolio .portfolio_main {
    width: 90%;
    margin: 0 auto;
  }

  header .container-custom {
    position: fixed;
    z-index: 50;
  }

  .header__burger {
    display: block;
    position: relative;
    /* width: 30px; */
    width: 100%;
    height: 20px;
    z-index: 3;
    top: 25px;
    left: 65px;
  }

  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 30px;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__nav {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #aaf3f3;
    padding: 60px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }

  .header__nav ul {
    display: block;
    position: relative;
    z-index: 2;
  }

  .header__li {
    padding-top: 30px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__nav.active {
    top: 0;
  }

  .header__li a:hover {
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=main.css.map */
