@import "../css/fonts.scss";
@import "./reset.css";

* {
    box-sizing: border-box;
}

.container-custom {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

body {
    background-color: #fff;
    color: #555;
    font-size: 14px;
    font-family: "Raleway", sans-serif;

    button {
        cursor: pointer;
    }

    a {
        text-decoration: none;

    }
}

h4 {
    font-size: 40px;
    font-weight: 400;
}

h4::after {
    content: "";
    width: 171px;
    color: #00e1ff;
    display: block;
    border: 1px solid rgb(103, 229, 250);
    position: relative;
    top: 26px;
    margin: 0 auto;
}

// header


header {
    padding: 17px 0;

    .container-custom {
        display: flex;
        justify-content: space-between;
        align-content: center;
        background-color: #fff;
        width: 100%;
    }

    img {
        width: 175px;
    }
}

.header__nav {
    width: 50%;
    margin: auto 0;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-transform: uppercase;
    color: black;
    font-size: 15px;
}

.header__nav a:hover {
    color: rgb(103, 229, 250);
}

.header_links {
    width: 48%;
    padding-top: 16px;
}

// .header__li-1:hover::after {
//     content: "";
//     width: 67px;
//     color: rgb(103, 229, 250);
//     display: inline-block;
//     border: 2px solid rgb(103, 229, 250);
//     position: absolute;
//     top: 101px;
//     margin-left: -59px;
// }

// .header__li-2:hover::after {
//     content: "";
//     width: 78px;
//     color: rgb(103, 229, 250);
//     display: inline-block;
//     border: 2px solid rgb(103, 229, 250);
//     position: absolute;
//     top: 101px;
//     margin-left: -76px;
// }

.header__li a:hover::after {
    content: "";
    width: 88px;
    color: rgb(103, 229, 250);
    display: inline-block;
    border: 2px solid rgb(103, 229, 250);
    position: absolute;
    top: 101px;
    margin: 0 auto;
}

// .header__li-4:hover::after {
//     content: "";
//     width: 59px;
//     color: rgb(103, 229, 250);
//     display: inline-block;
//     border: 2px solid rgb(103, 229, 250);
//     position: absolute;
//     top: 101px;
//     margin-left: -56px;
// }

// .header__li-5:hover::after {
//     content: "";
//     width: 57px;
//     color: rgb(103, 229, 250);
//     display: inline-block;
//     border: 2px solid rgb(103, 229, 250);
//     position: absolute;
//     top: 101px;
//     margin-left: -50px;
// }

// .header__li-6:hover::after {
//     content: "";
//     width: 74px;
//     color: rgb(103, 229, 250);
//     display: inline-block;
//     border: 2px solid rgb(103, 229, 250);
//     position: absolute;
//     top: 101px;
//     margin-left: -73px;
// }

// 1 section
.wr-home {
    background-image: url("../img/wr-home.jpg");
    background-size: cover;
    background-position: center;
    padding: 272px 0 282px;

    .container-custom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

h2 {
    font-size: 60px;
    color: #fff;
    font-weight: 200;
}

.wr-home button {
    font-family: "Raleway";
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    height: 51px;
    width: 172px;
    border: 2px solid #fff;
    margin-top: 30px;
}



// section 2
.wr-service {
    background-color: #fff;
    padding-top: 134px;
    padding-bottom: 138px;

    .container-custom {
        display: flex;
        justify-content: space-around;
    }

    h1::after {
        content: "";
        width: 70px;
        color: rgb(103, 229, 250);
        display: block;
        border: 1px solid rgb(103, 229, 250);
        position: relative;
        top: 22px;
        margin: 0 auto;
    }

    p {
        font-size: 13px;
        text-align: center;
    }

    h1 {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 45px;
    }
}

.wr-service__img {
    width: 55px;

    img {
        width: 100%;
    }
}

.wr-service__web:nth-child(2),
.wr-service__web:nth-child(3) {
    h1 {
        padding-top: 47px;
    }
}

.wr-service__web,
.wr-service__design {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

.wr-service__web:nth-child(1),
.wr-service__web:nth-child(4) {
    h1 {
        padding-top: 54px;

    }
}

// section 3
.responsive {
    background-color: #f7f7f7;
    padding-top: 52px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .hidden {
        button {
            box-shadow: 1px 5px 15px #36c5fa;
        }

        h1 {
            color: #00e1ff;
        }
    }
}

.responsive__main {
    padding-left: 110px;
    align-self: flex-start;

    button {
        font-family: "Raleway";
        color: #00e1ff;
        background-color: transparent;
        font-size: 15px;
        height: 51px;
        width: 172px;
        border: 2px solid #00e1ff;
        margin-top: 39px;
        // border-color: #00e1ff;
    }

    h1 {
        font-size: 40px;
        padding-top: 29px;
        font-weight: 400;
    }

    p:first-of-type {
        padding-top: 39px;
    }

    p:last-of-type {
        padding-top: 13px;
    }
}

.responsive__img {
    // width: 780px;
    // height: 385px;
    width: 40%;
    flex-shrink: 0;
}


// tabs


.responsive__content {
    padding-top: 85px;
    padding-left: 146px;
}

.responsive__tabs {
    list-style: none;
    display: flex;
    padding-left: 103px;
}

.responsive__tabs>button {
    font-size: 15px;
    display: block;
    width: 45%;
    text-align: center;
    border: 1px solid #c8cdce;
    color: #3f4244;
    height: 51px;
    background-color: transparent;
}

.responsive__tabs>button:hover {
    background: #f7f7f7;
    cursor: pointer;
    color: #333;
    border: 1px solid #00e1ff;
}

.responsive__tabs>button.tabActiveHeader {
    background: #f7f7f7;
    cursor: pointer;
    color: #333;
    border: 1px solid #00e1ff;
}

.tabpage.hidden {
    background-color: #f7f7f7;
    display: none;
}

.tabpage {
    background-color: #f7f7f7;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}












// section 4

.wr-design {
    background-image: url(../img/background-design.jpg);
    background-size: cover;
    background-position: center;
    padding: 98px 0 0;

    h4,
    p {
        color: #fff;
    }

    p {
        text-align: center;
        font-size: 13px;
        padding-top: 50px;
        padding-bottom: 123px;
    }


}

.wr-design__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 0 auto;
}

.wr-design__img {
    text-align: center;
    width: 85%;
    margin: 0 auto;

    // padding-top: 112px;
    img {
        width: 100%;
    }
}


// section 5
.read-more {
    background-color: #fff;
    padding-bottom: 95px;

    .read-more__main {
        padding-top: 120px;
        margin: 0 auto;
        width: 61%;
        display: flex;
        flex-direction: column;

        .read-more__line {
            display: flex;
        }
    }

    .close-icon svg {
        width: 50px;
        height: 50px;
    }

    .close-icon svg:hover {
        cursor: pointer;
    }

    .close-icon {
        position: absolute;
        top: 100px;
        right: 100px;
    }

    .read-more__article {
        width: 37%;

        h3 {
            text-align: right;
            font-weight: 500;
            color: #22e5ff;
            font-family: "Raleway", serif;
            font-size: 17px;
        }

        p {
            text-align: right;
            color: #dbdedf;
            font-family: "Raleway", serif;
            font-size: 14px;
            padding-top: 13px;
        }
    }

    .read-more__border {
        text-align: center;
        position: relative;
        margin: 0 55px;
    }

    .read-more__line {
        display: flex;
        width: 100%;

        span:nth-child(1) {
            border-radius: 50%;
            border: 2px solid #00e1ff;
            width: 12px;
            height: 12px;
            display: block;
            // top: 0px;
            // position: absolute;
            // left: 40%;
            z-index: 10;
            position: relative;
            background-color: #fff;
        }
    }

    .read-more__line:nth-child(1),
    .read-more__line:nth-child(2),
    .read-more__line:nth-child(3) {
        .read-more__border::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 1px;
            background-color: #c3d0d8;
            height: 100%;
        }
    }

    .read-more__text {
        padding-bottom: 50px;
        width: 108%;

        h2 {
            // font-family: "Raleway", serif;
            font-size: 17px;
            color: #8c8e8f;
            font-weight: 400;
        }

        p {
            padding-top: 24px;
            // font-family: "Raleway", serif;
            font-size: 13px;
            color: #c9cdd0;
        }

        p:last-child {
            color: #22e5ff;
        }

        p:last-child:hover {
            cursor: pointer;
        }
    }
}


// окошки read-more
#modal {
    text-align: center;
    padding: 50vh 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
    height: 110vh;
    width: 100%;
    background-color: #ffffffc9;
}

#modal-content {
    text-align: center;
    font-size: 32px;
}

// section 6
.portfolio {
    background-color: #f7f7f7;

    h4 {
        color: #3f4244;
        text-align: center;
    }

    p {
        font-size: 13px;
        color: #666666;
        text-align: center;
        padding-top: 54px;
    }

    .portfolio_main {
        width: 65%;
        margin: 0 auto;
        padding-top: 88px;
    }
}

.slider-photo,
.slider-photo-div {}

.slider-photo img,
.slider-photo-div img {
    width: 470px;
    height: 300px;
}

.slider {
    padding-top: 102px;
}

#slider-photo {
    height: 400px;
    overflow-x: hidden;
    max-width: 100%;
    display: inline-flex;
    margin-top: 30px;
}

.slider-menu {
    display: flex;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between;
}

.slider-text {
    padding-top: 25px;
    text-align: center;
}

// section 7
.video {
    .container-custom {
        width: 770px;
        margin: 0 auto;
        padding-bottom: 95px;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:28%;

    h4 {
        color: #fff;
        text-align: center;
        width: 610px;
        margin: 0 auto;
    }

    p {
        font-size: 13px;
        color: #fff;
        text-align: center;
        padding-top: 54px;
        width: 770px;
        margin: 0 auto;
    }


}

.video__main {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    padding-top: 10%;
}

// section 8
.wr-services {
    background-color: #131316;
    padding-bottom: 82px;
    padding-top: 90px;

    p {
        padding-top: 41px;
        font-family: "Raleway", serif;
        font-size: 40px;
        text-align: center;
        color: #f4f4f4;
    }

    h1 {
        font-family: "Raleway", serif;
        font-size: 13px;
        font-weight: 500;
        color: #f4f4f4;
    }
}

.wr-services__main {
    display: flex;
    justify-content: space-around;
    // padding-top: 90px;
}

.wr-services__web {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23%;
}

.wr-services__web:nth-child(1) {
    h1 {
        padding-top: 25px;
    }

    img {
        // display: block;
        width: 23%;
    }
}

.wr-services__web:nth-child(2) {
    p {
        padding-top: 44px;
    }

    img {
        margin-top: -13px;
        width: 13%;
    }

    h1 {
        padding-top: 22px;
    }
}

.wr-services__web:nth-child(3) {
    p {
        padding-top: 39px;
    }

    h1 {
        padding-top: 21px;
    }

    img {
        width: 22%;
    }
}

.wr-services__web:nth-child(4) {
    p {
        padding-top: 42px;
    }

    h1 {
        padding-top: 23px;
    }

    img {
        width: 23%;
    }
}

// section 9
.we-are-the-one {
    padding-top: 88px;
    padding-bottom: 56px;

    h4 {
        text-align: center;
    }

    p {
        font-size: 13px;
        text-align: center;
        padding-top: 54px;
        width: 65%;
        margin: 0 auto;
    }

    h4,
    p {
        color: #3f4244;
    }
}

.we-are-the-one__main {
    width: 23%;

    img {
        width: 100%;
        height: 35%;
    }

    .we-are-the-one__header-block {
        background-color: #1c1d1e;
        width: 100%;
        height: 13%;

        h5 {
            text-align: center;
            padding-top: 10px;
            color: #06bad2;
            font-size: 20px;
            font-weight: 500;
        }

        p {
            text-align: center;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 18px;
            color: #c2c3c3;
        }
    }

    .we-are-the-one__main-text {
        width: 100%;
        background-color: #f7f7f7;

        p {
            padding-top: 33px;
            padding-bottom: 32px;
            text-align: center;
            width: 80%;
        }
    }
}

.we-are-the-one__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 93px;
}

.we-are-the-one__icons {
    width: 100%;
    display: flex;
    padding-top: 2px;

    li {
        height: 57px;
        background-color: #f7f7f7;
        width: 24%;
    }

    li:hover:nth-child(1) {
        cursor: pointer;
        background-color: #36609e;

        svg {
            cursor: pointer;
            fill: #fff;
        }
    }

    li:hover:nth-child(3) {
        cursor: pointer;
        background-color: #db5442;

        svg {
            cursor: pointer;
            fill: #fff;
        }
    }

    li:hover:nth-child(2) {
        cursor: pointer;
        background-color: #2ca9e1;

        svg {
            cursor: pointer;
            fill: #fff;
        }
    }

    li:hover:nth-child(4) {
        cursor: pointer;
        background-color: #ee558e;

        svg {
            cursor: pointer;
            fill: #fff;
        }
    }

    svg {
        width: 100%;
        height: 65%;
        padding-top: 16px;
        fill: #444;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// section 10
.about-ket {
    padding-top: 93px;
    padding-bottom: 94px;

    .container-custom {
        display: grid;
        grid-template-columns: 49% 47%;
        grid-template-rows: min-content;
    }

    background-color: #f7f7f7;

    img {
        width: 100%;
        height: 100%;
    }

    .about-ket__main {
        margin-left: 29px;
        margin-right: -44px;
        border: 1px solid #c8cdce;
        width: 100%;

        h6,
        p {
            font-family: "Raleway", serif;
        }

        h6 {
            padding-top: 35px;
            padding-left: 35px;
            font-size: 20px;
            font-weight: 500;
        }

        p:nth-child(2) {
            padding-left: 27px;
            padding-top: 42px;
            font-size: 13px;
            padding-right: 32px;
            line-height: 16px;
        }

        p:nth-child(3) {
            padding-left: 27px;
            padding-top: 15px;
            font-size: 13px;
            line-height: 16px;
            padding-bottom: 42px;
        }
    }
}

// section 11
.little-slider {
    .container-custom {
        svg {
            width: 3%;
            padding-left: 49%;
        }

        padding-top: 98px;
        padding-bottom: 177px;
    }

    background-color: #252726;

    h1 {
        font-family: "Raleway", serif;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }

    p {
        font-family: "Raleway", serif;
        font-size: 13px;
        color: #fff;
        text-align: center;
        padding-top: 17px;
    }
}

// section 12
.our-news {
    background-color: #fff;

    .container-custom {
        width: 49%;
    }



    .our-news__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -81px;
        margin-left: 5px;
        padding-top: 85px;
        width: 85%;
        margin: 0 auto;
    }

    h4 {
        color: #3f4244;
    }

    .our-news__header-text {
        text-align: center;
        width: 100%;
        padding-left: 3px;
        padding-top: 54px;
        font-size: 13px;
        line-height: 16px;
        color: #b3b9bc;
    }

    .read-mor-url::after {
        content: "";
        width: 98%;
        color: #edf2f6;
        display: block;
        border: 1px solid #edf2f6;
        position: relative;
        top: 16px;
        left: 14px;
    }

    .our-news__main:nth-child(2) {
        padding-top: 85px;
        width: 90%;
        margin: 0 auto;

        .our-news__date {
            p:last-child {
                color: #b3b9bc;
                text-align: center;
                padding-top: 15px;
            }
        }

        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 100%;

        h2 {
            color: #55ebff;
            font-weight: 400;
        }

        .our-news__text {
            padding-left: 25px;
            padding-top: 23px;

            p:first-child {
                color: #b3b9bc;
                font-size: 13px;
                padding-left: 4px;
            }
        }

        .read-mor-url {
            text-align: right;
            color: #55ebff;
            padding-top: 47px;
            padding-right: 30px;
            font-size: 13px;
        }

        .read-mor-url:hover {
            cursor: pointer;
        }
    }

    .our-news__main:nth-child(3),
    .our-news__main:nth-child(4) {
        padding-top: 38px;

        .our-news__date {
            p:last-child {
                color: #b3b9bc;
                text-align: center;
                padding-top: 15px;
            }
        }

        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 100%;
        width: 90%;
        margin: 0 auto;

        h2 {
            color: #55ebff;
            font-weight: 400;
        }

        .our-news__text {
            padding-left: 25px;
            padding-top: 23px;

            p:first-child {
                color: #b3b9bc;
                font-size: 13px;
                padding-left: 4px;
            }
        }

        .read-mor-url {
            text-align: right;
            color: #55ebff;
            padding-top: 47px;
            padding-right: 30px;
            font-size: 13px;
        }

        .read-mor-url:hover {
            cursor: pointer;
        }
    }

    .our-news__main:nth-child(5) {
        padding-top: 38px;
        width: 90%;
        margin: 0 auto;

        padding-bottom: 102px;

        .our-news__date {
            p:last-child {
                color: #b3b9bc;
                text-align: center;
                padding-top: 15px;
            }
        }

        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 100%;

        h2 {
            color: #55ebff;
            font-weight: 400;
        }

        .our-news__text {
            padding-left: 25px;
            padding-top: 23px;

            p:first-child {
                color: #b3b9bc;
                font-size: 13px;
                padding-left: 4px;
            }
        }

        .read-mor-url {
            text-align: right;
            color: #55ebff;
            padding-top: 47px;
            padding-right: 30px;
            font-size: 13px;
        }

        .read-mor-url:hover {
            cursor: pointer;
        }
    }
}

// section 13
.modern-design {
    background-image: url(../img/background-design.jpg);
    background-size: cover;
    background-position: bottom;
    padding: 139px 0 0px;

    .modern-design__block {
        display: flex;
    }

    .modern-design__main {
        position: relative;
        top: 65px;
        right: 21%;

        h6,
        p {
            font-family: "Raleway", serif;
            color: #fff;
        }

        h6 {
            font-size: 25px;
            font-weight: 500;
        }

        h6:after {
            content: "";
            width: 55px;
            color: rgb(103, 229, 250);
            display: inline-block;
            border: 1px solid #00e1ff;
            position: absolute;
            top: 50px;
            margin-left: -207px;
        }

        p {
            font-size: 13px;
            padding-top: 50px;
        }
    }
}

// section 14
.what-clients-say {
    padding-top: 85px;
    padding-bottom: 94px;
}

.what-clients-say__header {
    width: 65%;
    margin: 0 auto;

    h4 {
        color: #727476;
        text-align: center;
        position: relative;
    }

    p {
        font-size: 13px;
        color: #929ba0;
        text-align: center;
        padding-top: 54px;

    }
}

.what-clients-say__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.what-clients-say__block {
    border: 1px solid gray;
    width: 31%;
    margin-top: 97px;

    h5 {
        text-align: center;
        padding-top: 40px;
        font-size: 20px;
        font-weight: 400;
        color: #3f4244;
    }

    p:nth-child(2) {
        text-align: center;
        padding-top: 13px;
        font-size: 13px;
        color: #00e1ff;
    }

    p:last-child {
        text-align: center;
        font-size: 13px;
        padding-top: 30px;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 60px;
        color: #c2c7c9;
    }
}











// .slider-photo,
// .slider-photo-div {
//     float: left;

//     img {
//         width: 470px;
//         height: 300px;
//     }
// }

// #slider-photo {
//     height: 400px;
//     overflow-y: hidden;
//     overflow-x: scroll;
//     white-space: nowrap;
// }

// .slider {
//     display: flex;
//     width: 1000px;
//     margin: 0 auto;
//     justify-content: space-between;
// }