@import "./reset.css";
@font-face {
  font-family: "Raleway-extra";
  font-style: normal;
  src: local("Raleway-extra"), url("../fonts/raleway/Raleway-ExtraLight.ttf"), format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  src: local("Raleway"), url("../fonts/raleway/Raleway-Light.ttf"), format("ttf");
  font-display: swap;
}
body {
  background-color: #fff;
  color: #555;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 101px;
}

.header_nav ul {
  display: flex;
}

.header_nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway", serif;
  color: black;
  font-size: 15px;
}

.header_links a:hover {
  color: #67e5fa;
}

.header__logo {
  max-width: 46%;
  margin-top: 7%;
  margin-left: 5%;
}

.header_links {
  margin-right: 16.4%;
  margin-top: 3.4%;
}

.container-custom {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 0px;
}

.container-custom .header_nav .header__li-1 {
  margin-right: 12%;
}

.container-custom .header_nav .header__li-1:hover::after {
  content: "";
  width: 67px;
  color: #67e5fa;
  display: inline-block;
  border: 2px solid #67e5fa;
  position: absolute;
  top: 98px;
  margin-left: -59px;
}

.container-custom .header_nav .header__li-2 {
  margin-right: 6.4%;
}

.container-custom .header_nav .header__li-2:hover::after {
  content: "";
  width: 78px;
  color: #67e5fa;
  display: inline-block;
  border: 2px solid #67e5fa;
  position: absolute;
  top: 98px;
  margin-left: -76px;
}

.container-custom .header_nav .header__li-3 {
  margin-right: 8.6%;
}

.container-custom .header_nav .header__li-3:hover::after {
  content: "";
  width: 88px;
  color: #67e5fa;
  display: inline-block;
  border: 2px solid #67e5fa;
  position: absolute;
  top: 98px;
  margin-left: -87px;
}

.container-custom .header_nav .header__li-4 {
  margin-right: 14.3%;
}

.container-custom .header_nav .header__li-4:hover::after {
  content: "";
  width: 59px;
  color: #67e5fa;
  display: inline-block;
  border: 2px solid #67e5fa;
  position: absolute;
  top: 98px;
  margin-left: -56px;
}

.container-custom .header_nav .header__li-5 {
  margin-right: 11.3%;
}

.container-custom .header_nav .header__li-5:hover::after {
  content: "";
  width: 57px;
  color: #67e5fa;
  display: inline-block;
  border: 2px solid #67e5fa;
  position: absolute;
  top: 98px;
  margin-left: -50px;
}

.container-custom .header_nav .header__li-6:hover::after {
  content: "";
  width: 74px;
  color: #67e5fa;
  display: inline-block;
  border: 2px solid #67e5fa;
  position: absolute;
  top: 98px;
  margin-left: -73px;
}

.wr-home {
  background-image: url("../img/xps-8pb7Hq539Zw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  padding: 272px 0 282px;
}

h2 {
  font-family: "Raleway", serif;
  font-size: 60px;
  color: #fff;
  font-weight: 200;
}

.wr-home button {
  font-family: "Raleway";
  color: #fff;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 12pt;
  height: 51px;
  width: 172px;
  border: 2px solid white;
  margin-top: 30px;
}

.wr-home_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.wr-service .wr-service_web,
.wr-service .wr-service_design,
.wr-service .wr-service_programming,
.wr-service .wr-service_photography {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
}
.wr-service .wr-service_main {
  display: flex;
  justify-content: space-around;
  padding-top: 134px;
}
.wr-service p {
  padding-top: 41px;
  font-family: "Raleway", serif;
  font-size: 13px;
  text-align: center;
}
.wr-service h1 {
  font-family: "Raleway", serif;
  font-size: 15px;
  font-weight: 500;
}
.wr-service .wr-service_web h1 {
  padding-top: 54px;
}
.wr-service .wr-service_web h1::after {
  content: "";
  width: 70px;
  color: #67e5fa;
  display: block;
  border: 1px solid #67e5fa;
  position: relative;
  top: 22px;
  left: 12px;
}
.wr-service .wr-service_design h1 {
  padding-top: 52px;
}
.wr-service .wr-service_programming h1 {
  padding-top: 42px;
}
.wr-service .wr-service_photography h1 {
  padding-top: 51px;
}
.wr-service .wr-service_design h1::after,
.wr-service .wr-service_programming h1::after,
.wr-service .wr-service_photography h1::after {
  content: "";
  width: 70px;
  color: #67e5fa;
  display: block;
  border: 1px solid #67e5fa;
  position: relative;
  top: 22px;
  left: 26px;
}

.wr-responsive {
  margin-top: 138px;
  background-color: #f7f7f7;
}
.wr-responsive .wr-responsive_tabs {
  border: 1px solid grey;
  height: 47px;
  width: 470px;
}
.wr-responsive .wr-responsive_menu {
  display: flex;
  padding-top: 136px;
  padding-left: 145px;
}
.wr-responsive .wr-responsive_main {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 85px;
}
.wr-responsive .wr-responsive_main h1,
.wr-responsive .wr-responsive_main p {
  font-family: "Raleway", serif;
}
.wr-responsive .wr-responsive_main h1 {
  font-size: 40px;
}
.wr-responsive .wr-responsive_main p {
  font-size: 15px;
  width: 550px;
  line-height: 18px;
}
.wr-responsive .wr-responsive__text {
  padding-top: 33px;
}
.wr-responsive .wr-responsive__button button {
  font-family: "Raleway";
  color: #00e1ff;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 12pt;
  height: 51px;
  width: 172px;
  border: 2px solid #00e1ff;
}
.wr-responsive .wr-responsive__button {
  padding-top: 36px;
}

.wr-design {
  background-image: url(../img/claudio-schwarz-purzlbaum-dMi8LcYRCIE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  padding: 181px 0 102px;
  margin-top: -118px;
}
.wr-design h3, .wr-design p {
  font-family: "Raleway", serif;
  color: #fff;
}
.wr-design .wr-design_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -81px;
  margin-left: 5px;
}
.wr-design h3 {
  font-size: 40px;
}
.wr-design p {
  text-align: center;
  width: 800px;
  padding-left: 3px;
  padding-top: 54px;
  font-size: 13px;
  line-height: 16px;
}
.wr-design h3::after {
  content: "";
  width: 171px;
  color: #00e1ff;
  display: block;
  border: 2px solid #67e5fa;
  position: relative;
  top: 26px;
  left: 153px;
}

/*# sourceMappingURL=main.css.map */
