@import "../css/fonts.scss";
@import "./reset.css";

// header

body {
    background-color: #fff;
    color: #555;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
}

header {
    padding: 17px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    // height: 101px;
    width: 100%;
    align-content: center;

    .header_logo img {
        width: 50%;
    }
}

.header_nav ul {
    display: flex;
    justify-content: space-between;
}

.header_nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", serif;
    color: black;
    font-size: 15px;
}

.header_links a:hover {
    color: rgb(103, 229, 250);
}

.header_links {
    width: 48%;
    padding-top: 16px;
}

.container-custom {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
}

.container-custom .header_nav .header__li-1:hover::after {
    content: "";
    width: 67px;
    color: rgb(103, 229, 250);
    display: inline-block;
    border: 2px solid rgb(103, 229, 250);
    position: absolute;
    top: 90px;
    margin-left: -59px;
}

.container-custom .header_nav .header__li-2:hover::after {
    content: "";
    width: 78px;
    color: rgb(103, 229, 250);
    display: inline-block;
    border: 2px solid rgb(103, 229, 250);
    position: absolute;
    top: 90px;
    margin-left: -76px;
}

.container-custom .header_nav .header__li-3:hover::after {
    content: "";
    width: 88px;
    color: rgb(103, 229, 250);
    display: inline-block;
    border: 2px solid rgb(103, 229, 250);
    position: absolute;
    top: 90px;
    margin-left: -87px;
}

.container-custom .header_nav .header__li-4:hover::after {
    content: "";
    width: 59px;
    color: rgb(103, 229, 250);
    display: inline-block;
    border: 2px solid rgb(103, 229, 250);
    position: absolute;
    top: 90px;
    margin-left: -56px;
}

.container-custom .header_nav .header__li-5:hover::after {
    content: "";
    width: 57px;
    color: rgb(103, 229, 250);
    display: inline-block;
    border: 2px solid rgb(103, 229, 250);
    position: absolute;
    top: 90px;
    margin-left: -50px;
}

.container-custom .header_nav .header__li-6:hover::after {
    content: "";
    width: 74px;
    color: rgb(103, 229, 250);
    display: inline-block;
    border: 2px solid rgb(103, 229, 250);
    position: absolute;
    top: 90px;
    margin-left: -73px;
}

// 1 section
.wr-home {
    background-image: url("../img/xps-8pb7Hq539Zw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    padding: 272px 0 282px;
}

h2 {
    font-family: "Raleway", serif;
    font-size: 60px;
    color: #fff;
    font-weight: 200;
}

.wr-home button {
    font-family: "Raleway";
    color: #fff;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 12pt;
    height: 51px;
    width: 172px;
    border: 2px solid white;
    margin-top: 30px;
}

.wr-home_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

// section 2
.wr-service {
    background-color: #fff;

    .wr-service_web,
    .wr-service_design,
    .wr-service_programming,
    .wr-service_photography {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        width: 23%;
    }

    .wr-service_main {
        display: flex;
        justify-content: space-around;
        padding-top: 134px;
    }

    p {
        padding-top: 41px;
        font-family: "Raleway", serif;
        font-size: 13px;
        text-align: center;
    }

    h1 {
        font-family: "Raleway", serif;
        font-size: 15px;
        font-weight: 500;
    }

    .wr-service_web {
        h1 {
            padding-top: 54px;
        }

        h1::after {
            content: "";
            width: 70px;
            color: rgb(103, 229, 250);
            display: block;
            border: 1px solid rgb(103, 229, 250);
            position: relative;
            top: 22px;
            left: 12px;
        }
    }

    .wr-service_design {
        h1 {
            padding-top: 52px;
        }
    }

    .wr-service_programming {
        h1 {
            padding-top: 42px;
        }
    }

    .wr-service_photography {
        h1 {
            padding-top: 51px;
        }
    }

    .wr-service_design,
    .wr-service_programming,
    .wr-service_photography {
        h1::after {
            content: "";
            width: 70px;
            color: rgb(103, 229, 250);
            display: block;
            border: 1px solid rgb(103, 229, 250);
            position: relative;
            top: 22px;
            left: 26px;
        }
    }
}

// section 3
.responsive {
    background-color: #f7f7f7;
    margin-top: 136px;

    h1,
    p {
        font-family: "Raleway", serif;
    }

    .tabpage {
        height: 100%;
    }

    img {
        width: 72%;
    }

    button {
        font-family: "Raleway";
        color: #00e1ff;
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 12pt;
        height: 51px;
        width: 172px;
        border: 2px solid #00e1ff;
        margin-left: 85px;
        margin-top: 39px;
    }

    .hidden {
        button {
            box-shadow: 1px 5px 15px #36c5fa;
        }

        .responsive__main {
            h1 {
                color: #00e1ff;
            }
        }
    }

    .wresponsive__menu {
        display: flex;
        padding-top: 187px;
        padding-left: 146px;
    }

    h1 {
        font-family: "Raleway", serif;
        font-size: 40px;
        padding-left: 82px;
        padding-top: 29px;
    }

    p {
        padding-left: 82px;
    }

    p:first-of-type {
        padding-left: 82px;
        padding-top: 39px;
    }

    p:last-of-type {
        padding-top: 13px;
    }
}

// tabs
#tabContainer {
    background-color: #f7f7f7;
}

#tabs {
    padding-top: 53px;
    padding-left: 100px;
    height: 51px;
    overflow: hidden;
}

#tabs>ul {
    list-style: none;
    display: flex;
}

#tabs>ul>li {
    font-size: .75rem;
    padding: 18px 10px;
    display: block;
    width: 43%;
    text-align: center;
    border: 1px solid #c8cdce;
    color: #3f4244;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    // -moz-border-radius-topleft: 4px;
    // -moz-border-radius-topright: 4px;
    // -moz-border-radius-bottomright: 0px;
    // -moz-border-radius-bottomleft: 0px;
    // border-top-left-radius:4px;
    // border-top-right-radius: 4px;
    // border-bottom-right-radius: 0px;
    // border-bottom-left-radius: 0px; 
    background: #f7f7f7;
    /* old browsers */
    // background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}

#tabs>ul>li:hover {
    background: #f7f7f7;
    cursor: pointer;
    color: #333;
    border: 1px solid #00e1ff;
}

#tabs>ul>li.tabActiveHeader {
    background: #f7f7f7;
    /* old browsers */
    cursor: pointer;
    color: #333;
    border: 1px solid #00e1ff;
}

#tabscontent {
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #FFFFFF;
    /* old browsers */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%);
    /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(90%, #FFFFFF), color-stop(100%, #e4e9ed));
    /* webkit */
    margin: 0;
    color: #333;

    .tabpage.hidden {
        background-color: #f7f7f7;

        display: none;
        padding-left: 146px;
        padding-top: 82px;
    }

    .tabpage {
        background-color: #f7f7f7;

        display: flex;
        padding-left: 146px;
        padding-top: 82px;
    }

}

#preview-button {
    display: none;
}









// section 4

.wr-design {
    background-image: url(../img/claudio-schwarz-purzlbaum-dMi8LcYRCIE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 181px 0 0;

    h3,
    p {
        font-family: "Raleway", serif;
        color: #fff;
    }

    .wr-design_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -81px;
        margin-left: 5px;
    }

    h3 {
        font-size: 40px;
    }

    p {
        text-align: center;
        width: 800px;
        padding-left: 3px;
        padding-top: 54px;
        font-size: 13px;
        line-height: 16px;
    }

    h3::after {
        content: "";
        width: 171px;
        color: #00e1ff;
        display: block;
        border: 2px solid rgb(103, 229, 250);
        position: relative;
        top: 26px;
        left: 153px;
    }






    .wr-design__img {
        text-align: center;
        // padding-top: 112px;
    }

    .wr-design__img {
        max-width: 650px;
        margin: 0 auto;
    }

    ul.accordion {
        display: flex;
        justify-content: center;
        margin-top: 110px;
        padding: 0;
    }

    ul.accordion img {
        // width: 100%;
    }

    ul.accordion li {
        width: 50px;
        overflow: hidden;
        padding: 1px 1px 0;
        cursor: pointer;
        display: block;

        box-shadow: 1px 3px 15px #7e807e;
    }

    ul.accordion li:hover {
        width: 100%;

        box-shadow: 1px 5px 15px #36c5fa;

        transition: all 1s;
    }

    ul.accordion li {
        width: 200px;
        overflow: hidden;
        padding: 1px 1px 0;
        cursor: pointer;
        display: block;

        box-shadow: 1px 3px 15px #7e807e;

        transition: all 1.5s;
    }

    ul.accordion li:nth-child(2) {
        width: 100%;
    }

    ul.accordion:hover li:nth-child(2) {
        width: 200px;
    }


    ul.accordion li:nth-child(2):hover {
        width: 100%;
    }
}

// section 5
.read-more {
    background-color: #fff;
    padding-bottom: 95px;

    .read-more_main {
        padding-top: 120px;
        margin: 0 auto;
        width: 61%;
        display: flex;
        flex-direction: column;

        .read-more_line {
            display: flex;
        }
    }

    .close-icon svg {
        width: 50px;
        height: 50px;
    }

    .close-icon svg:hover {
        cursor: pointer;
    }

    .close-icon {
        position: absolute;
        top: 100px;
        right: 100px;
    }

    .read-more__article {
        width: 37%;

        h3 {
            text-align: right;

            color: #22e5ff;
            font-family: "Raleway", serif;
            font-size: 17px;
        }

        p {
            text-align: right;
            color: #dbdedf;
            font-family: "Raleway", serif;
            font-size: 14px;
            padding-top: 13px;
        }
    }

    .read-more__border {
        width: 30%;
        text-align: center;
        position: relative;
    }

    .read-more_line {
        display: flex;
        width: 100%;

        span:nth-child(1) {
            border-radius: 50%;
            border: 2px solid #00e1ff;
            width: 8px;
            height: 8px;
            display: inline-block;
            top: 0px;
            position: absolute;
            left: 40%;
        }

        span:nth-child(2) {
            height: 100%;
            display: inline-block;
            border-left: 1px solid #c3d0d8;
            position: absolute;
            top: 6%;
            right: 55%;
        }
    }

    .read-more_line:nth-child(1) {
        span:nth-child(2) {
            height: 95%;
            top: 6%;
        }
    }

    .read-more_line:nth-child(2) {
        span:nth-child(2) {
            height: 95%;
            top: 6%;
        }
    }

    .read-more_line:nth-child(3) {
        span:nth-child(2) {
            height: 92%;
            top: 8%;
        }
    }

    .read-more__text {
        padding-bottom: 50px;
        width: 108%;

        h4 {
            font-family: "Raleway", serif;
            font-size: 17px;
            color: #8c8e8f;
        }

        p {
            padding-top: 24px;
            font-family: "Raleway", serif;
            font-size: 13px;
            color: #c9cdd0;
        }

        p:last-child {
            color: #22e5ff;
        }

        p:last-child:hover {
            cursor: pointer;
        }
    }
}

// окошки read-more
#modal {
    text-align: center;
    padding: 50vh 0 0 0;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
    height: 110vh;
    width: 100%;
    background-color: #ffffffc9;
}

#modal-content {
    text-align: center;
    font-size: 32px;
}

// section 6
.portfolio {
    background-color: #f7f7f7;

    h4 {
        font-size: 40px;
        color: #3f4244;
        text-align: center;
    }

    p {
        font-size: 13px;
        color: #666666;
        text-align: center;
        padding-top: 54px;
    }

    h4,
    p {
        font-family: "Raleway", serif;
    }

    h4::after {
        content: "";
        width: 167px;
        color: #67e5fa;
        display: block;
        border: 1px solid #67e5fa;
        position: relative;
        top: 25px;
        left: 300px;
    }

    .portfolio_main {
        width: 770px;
        margin: 0 auto;
        padding-top: 88px;
    }
}

// section 7
.video {
    .container-custom {
        width: 770px;
        margin: 0 auto;
        padding-top: 88px;
    }

    h4::after {
        content: "";
        width: 167px;
        color: #67e5fa;
        display: block;
        border: 1px solid #67e5fa;
        position: relative;
        top: 25px;
        left: 220px;
    }

    .video__main {
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        z-index: 4;
        padding-top: 10%;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    overflow: hidden;
    z-index: -100;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:28%;

    h4 {
        font-size: 40px;
        color: #fff;
        text-align: center;
        width: 610px;
        margin: 0 auto;
    }

    p {
        font-size: 13px;
        color: #fff;
        text-align: center;
        padding-top: 54px;
        width: 770px;
        margin: 0 auto;
    }

    h4,
    p {
        font-family: "Raleway", serif;
    }
}

// section 8
.wr-services {
    background-color: #131316;
    padding-bottom: 82px;
    .wr-service__web,
    .wr-service__design,
    .wr-service__programming,
    .wr-service__photography {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 23%;
    }

    .wr-service__main {
        display: flex;
        justify-content: space-around;
        padding-top: 90px;
    }

    p {
        padding-top: 41px;
        font-family: "Raleway", serif;
        font-size: 40px;
        text-align: center;
        color: #f4f4f4;
    }

    h1 {
        font-family: "Raleway", serif;
        font-size: 13px;
        font-weight: 500;
        color: #f4f4f4;
    }
    .wr-service__web {
        h1 {
            padding-top: 25px;        }
    }

    .wr-service__design {
        p {
            padding-top: 44px;
        }
        img {
            margin-top: -13px;
        }
        h1 {
            padding-top: 22px;        }
    }

    .wr-service__programming {
        p {
            padding-top: 39px; 
        }
        h1 {
            padding-top: 21px;        }
    }

    .wr-service__photography {
        p {
            padding-top: 42px;        }
        h1 {
            padding-top: 23px;        }
    }

}






















.slider-photo,
.slider-photo-div {
    float: left;
    img {
        width: 470px;
        height: 300px;
    }
}
#slider-photo {
    height: 400px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.slider {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}