.slider-photo__button {
    padding: 10px 15px;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .slider-photo-div {
      /*left: 26%;*/
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .slider-photo-div {
      margin-left: 10px;
    }
  }
  
  .slider-photo-div {
    position: relative;
    background-color: #fff;
    margin-left: 10px;
  }

.portfolio__slider-container {
  position: relative;
}

.portfolio__slider-photo {
  overflow: hidden;
  position: relative;
}
.slider-control {
  z-index: 2;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}

.slider-control:hover,
.slider-control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider-control-left {
  left: 0;
}

.slider-control-right {
  right: 0;
}

.slider-control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider-control-left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider-control-right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
